<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://images.thedirect.com/media/article_full/avatar-s.jpg">
      </ion-avatar>
      <ion-label>
        <h2>John Doe</h2>
        <p>Gathered: <span class="money">$6,000</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  
    <!-- <app-pickup-call-card [hasHeader]="true" [hasFooter]="true" status="on hold" updatedAt="22/10/2020 12:00"
    createdAt="22/10/2020 12:00" notes="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.">
  </app-pickup-call-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last Pick up call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="hourglass-outline" color="warning" slot="start"></ion-icon>
        <ion-label>
          <h2>On Hold</h2>
          <p>22/10/2020 12:00</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <p>Created at 22/10/2020 12:00</p>
          <p>Notes: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
        </ion-label>
      </ion-item>
      <ion-button expand="block" fill="clear" color="success">See all</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="play-circle"></ion-icon>
        Listen Now
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="radio"></ion-icon>
        Radio
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="library"></ion-icon>
        Library
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
